
  <footer class="container">

  <div class="row mt20">
  {% if site.copyright.name %}
  <div class="col-md-4 text-center">All rights reserved by <a target="_blank" href="{{site.copyright.link}}">{{site.copyright.name}}</a></div>
    {% endif %}
    
  <div class="col-md-4 text-center" >
  {% if site.built-by %}
  <a target="_blank" href="https://www.docker.com"><img src="https://img.shields.io/docker/automated/jrottenberg/ffmpeg.svg" alt="{{site.built-by}}"></a>
  {% endif %}
  </div>
  <div class="col-md-4 text-center">
  </div>
  
  </div> 

</footer>
